.button {
    background: rgb(16, 16, 244);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

    svg {
        width: 30px;
        height: 25px;
        color: white;
    }
}