.Header {
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            img {
                width: 92px;
                height: 92px;
                cursor: pointer;
            }
        }

        .features {
            display: flex;
            align-items: center;
            gap: 15px;

            .favorite_icon {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 2px;

                svg {
                    width: 24px;
                    height: 23px;
                    color: #0800ff;
                    cursor: pointer;
                }

                p {
                    color: rgba(0, 0, 0, 0.597);
                    font-weight: 500;
                }
            }

            .compare_icon {
                display: flex;
                align-items: center;
                flex-direction: column;

                svg {
                    width: 25px;
                    height: 25px;
                    color: #0800ff;
                    cursor: pointer;
                }

                p {
                    color: rgba(0, 0, 0, 0.597);
                    font-weight: 500;
                }
            }
        }

    }


    .bottom_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .find_place {
            button {
                display: flex;
                align-items: center;
                gap: 3px;
                padding: 8px 10px;
                font-size: 17px;
                border: none;
                background: rgba(0, 0, 0, 0.104);
                border-radius: 10px;
                cursor: pointer;

                svg {
                    width: 23px;
                    height: 23px;
                }
            }
        }

        .nav_links {
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 50px;
                li {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    cursor: pointer;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: blue;
                        bottom: -4px;
                        left: 0;
                        transform: scaleX(0);
                        transition: transform 0.3s ease;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                    }

                    svg {
                        color: blue;
                    }
                }

                .line {
                    width: 2px;
                    height: 25px;
                    background: rgba(0, 0, 0, 0.312);
                }
            }
        }
    }
}