.Compare_card {
  display: flex;
  align-items: center;
  width: 300px;
  height: 250px;
  padding: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;

  //? delete icon
  .delete {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  &:hover {
    .delete {
      opacity: 1;
      pointer-events: auto;
    }
  }

  //? delete icon

  .item {
    width: 100%;
    height: 100%;
    padding: 7px;
    img {
      width: 60%;
      height: 75%;
      object-fit: contain;
    }
    .info {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 16px;
      h3 {
        color: rgb(36, 36, 36);
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        text-align: left;
      }

      p {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
      }
    }
  }
  .icons {
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    span {
      font-size: 25px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }

    .heart {
      &:hover {
        transition: 0.2s;
        color: rgb(54, 62, 248);
      }
    }
    .delete {
      &:hover {
        transition: 0.2s;
        color: rgb(248, 54, 54);
      }
    }
  }
}

// mobile
@media (max-width: 767px) {
  .Compare_card {
    width: 150px;
    height: 140px;

    .item {
      width: 100%;
      height: 100%;
      padding: 4px;
      img {
        width: 40%;
        height: 50%;
        object-fit: contain;
      }
      .info {
        gap: 10px;
        h3 {
          font-size: 10px;
          font-weight: 400;
          line-height: 14px;
        }

        p {
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
    .icons {
      width: 30px;
      gap: 7px;
      span {
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

// tablet
@media (min-width: 768px) and (max-width: 1199px) {
  .Compare_card {
    width: 260px;
    height: 210px;

    .item {
      width: 100%;
      height: 100%;
      padding: 7px;
      img {
        width: 60%;
        height: 75%;
        object-fit: contain;
      }
      .info {
        gap: 5px;
        h3 {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
        }

        p {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    .icons {
      width: 40px;

      gap: 10px;
      span {
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
