.modal {
  position: absolute;
  z-index: 97;
  top: 95px;
  left: 0;
  width: 100%;
  background: white;
  overflow: hidden;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.307);
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  &.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;  
  }
  .content {
    display: flex;
    align-items: start;
    gap: 50px;
    @media (max-width: 650px) {
      flex-direction: column;
      gap: 20px;
    }

    .select {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
      border-right: 1px solid rgba(0, 0, 0, 0.432);
      padding-right: 48px;
      @media (max-width: 650px) {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        border: none;
      }

      p {
        cursor: pointer;
        padding: 8px 40px;
        border-radius: 5px;
        transition: background 0.3s ease;
      }

      .active {
        background: #0062ff;
        color: white;
      }
    }

    .results {
      display: grid;
      gap: 20px;
      max-height: 550px;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      grid-template-columns: repeat(3, 32%);
      padding-inline: 20px;
      scrollbar-width: none;
      -ms-overflow-style: none;

      @media (max-width: 870px) {
        grid-template-columns: repeat(2, 50%);
        padding-bottom: 20px;
      }
      @media (max-width: 650px) {
        grid-template-columns: repeat(3, 30%);
      }
      @media (max-width: 550px) {
        grid-template-columns: repeat(2, 50%);
        padding-bottom: 20px;
      }
      @media (max-width: 400px) {
        grid-template-columns: repeat(1, 100%);
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-inline: 10px;
      height: 240px;
      cursor: pointer;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      overflow-x: hidden;
      border-radius: 10px;
      @media (max-width: 900px) {
        height: 220px;
      }
      @media (max-width: 700px) {
        height: 200px;
      }
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
        @media (max-width: 1020px) {
          width: 160px;
          height: 160px;
        }
        @media (max-width: 700px) {
          width: 150px;
          height: 150px;
        }
        @media (max-width: 600px) {
          width: 130px;
          height: 130px;
        }
      }
      p {
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
