.Footer {
    margin-top: 130px !important;
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.962);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;

    .content {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .form {
            h2 {
                color: white;
                margin-bottom: 20px;
            }
            .feedback {
                p {
                    color: rgba(255, 255, 255, 0.708);
                    margin-bottom: 14px;
                }
                .input {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    width: 100%;
                    max-width: 260px;
                    height: 45px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    padding: 0 8px;

                    input {
                        height: 90%;
                        background: transparent;
                        width: 85%;
                        border: none;
                        padding-left: 10px;
                        font-size: 13px;
                        outline: none;
                        color: white;
                    }

                    button {
                        background: transparent;
                        font-size: 15px;
                        border: none;
                        
                        svg {
                            color: white;
                            width: 20px;
                            height: 20px;
                            margin-top: 3px;
                        }

                        &:hover {
                            color: darkorchid;
                            transform: scale(1.1);
                            transition: 0.8s;
                        }
                    }
                }
            }
        }
    }

    .block1, .block2, .block3 {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h4 {
            color: white;
            margin-bottom: 21px;
            cursor: pointer;
            font-size: 18px;
        }

        p {
            color: rgba(255, 255, 255, 0.403);
            cursor: pointer;

            &:hover {
                color: white;
                transform: scale(1.05);
                transition: 0.5s;
            }
        }
    }

    .under_footer {
        margin-top: 55px;
        margin-bottom: -39px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.255);
        
        p {
            margin-top: 30px;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.389);

            span {
                color: blueviolet;
            }
        }
    }

    @media (max-width: 1024px) {
        .content {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    @media (max-width: 768px) {
        padding: 70px 40px;

        .content {
            flex-direction: column;
            align-items: start;
            text-align: start;

            .feedback {
                .input {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
            }
        }

        .block1, .block2, .block3 {
            align-items: start;
        }
    }

    @media (max-width: 480px) {
        padding: 70px 25px;

        .content {
            gap: 10px;
        }

        .block1, .block2, .block3 {
            h4 {
                font-size: 17px;
            }
            p {
                font-size: 15px;
            }
        }
    }

    @media (max-width: 320px) {
        padding: 70px 20px;

        .content {
            flex-direction: column;
            align-items: start;
            gap: 8px;
        }

        .block1, .block2, .block3 {
            h4 {
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }
        }
    }
}
